@media screen and (min-width: 993px) {
  .content {
    height: 580px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    position: absolute;
    margin-right: 550px;
  }

  .backBtn {
    width: 60px;
    height: 60px;
  }

  .ro {
    font-size: 40px;
    color: #0078b7;
    font-weight: bold;
  }

  .line {
    border: 1px solid black !important;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .al {
    width: 600px !important;
  }

  .cont {
    width: 600px;
    height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 20px;
  }

  .leftPart {
    width: 30%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightPart {
    width: 70%;
    font-size: 18px;
  }

  .descCont {
    height: 400px;
    padding-left: 20px;
  }

  .desc {
    width: 300px;
    display: flex;
  }

  .det {
    width: 100px;
  }

  .imgCont {
    width: 150px;
    height: 150px;
    /* background-color: #E3FAFF; */
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
  }

  .btnSC {
    background-color: #00b4d7 !important;
    color: white !important;
  }

  .custom-file-input {
    color: transparent;
    width: 90px;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Ganti Foto";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 10pt;
    margin-left: 3px;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .content {
    height: 540px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    position: absolute;
    margin-right: 450px;
  }

  .backBtn {
    width: 60px;
    height: 60px;
  }

  .ro {
    font-size: 32px;
    color: #0078b7;
    font-weight: bold;
  }

  .line {
    border: 1px solid black !important;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .al {
    width: 500px !important;
  }

  .cont {
    width: 500px;
    height: 380px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 20px;
  }

  .leftPart {
    width: 30%;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightPart {
    width: 70%;
    font-size: 16px;
  }

  .descCont {
    height: 400px;
    padding: 15px;
  }

  .desc {
    width: 300px;
    display: flex;
  }

  .det {
    width: 100px;
  }

  .imgCont {
    width: 120px;
    height: 120px;
    /* background-color: #E3FAFF; */
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp {
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 50%;
  }

  .btnSC {
    background-color: #00b4d7 !important;
    color: white !important;
  }

  .custom-file-input {
    color: transparent;
    width: 90px;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Ganti Foto";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 14px;
    /* margin-left: 3px; */
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

@media screen and (max-width: 600px) {
  .content {
    height: 720px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    position: absolute;
    margin-right: 350px;
  }

  .backBtn {
    width: 60px;
    height: 60px;
  }

  .ro {
    font-size: 30px;
    color: #0078b7;
    font-weight: bold;
  }

  .line {
    border: 1px solid black !important;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .al {
    width: 300px !important;
  }

  .cont {
    width: 360px;
    height: 620px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 20px;
  }

  .leftPart {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .rightPart {
    font-size: 16px;
  }

  .descCont {
    height: 400px;
    width: 300px;
    padding: 15px;
  }

  .desc {
    width: 300px;
    display: flex;
  }

  .det {
    width: 100px;
  }

  .imgCont {
    width: 120px;
    height: 120px;
    /* background-color: #E3FAFF; */
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp {
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 50%;
  }

  .btnCont {
    width: 270px;
    display: flex;
    justify-content: center;
  }

  .btnSC {
    background-color: #00b4d7 !important;
    color: white !important;
  }

  .custom-file-input {
    color: transparent;
    width: 90px;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Ganti Foto";
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 14px;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}
