@media screen and (min-width: 993px) {
  .content {
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .ro {
    font-size: 40px;
    color: #0078b7;
    font-weight: bold;
  }

  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  .back {
    position: absolute;
    margin-right: 550px;
  }

  .backBtn {
    width: 60px;
    height: 60px;
  }

  .backBtn {
    width: 80px;
    height: 60px;
  }

  .line {
    border: 1px solid black !important;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cont {
    width: 600px;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  }

 

  .leftPart {
    width: 30%;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightPart {
    width: 70%;
    font-size: 18px;
  }

  .descCont {
    height: 400px;
    /* background-color: #e3faff; */
    padding: 20px;
    /* border: px solid #e3faff !important; */
  }

  .desc {
    width: 300px;
    display: flex;
  }

  .det {
    width: 120px;
  }

  .imgCont {
    width: 150px;
    height: 150px;
    background-color: #e3faff;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .content {
    height: 460px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .ro {
    font-size: 32px;
    color: #0078b7;
    font-weight: bold;
  }

  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  .back {
    position: absolute;
    margin-right: 400px;
  }

  .backBtn {
    width: 50px;
    height: 50px;
  }

 
  .line {
    border: 1px solid black !important;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cont {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  }

  .leftPart {
    width: 30%;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightPart {
    width: 70%;
    font-size: 16px;
  }

  .descCont {
    height: 300px;
    /* background-color: #e3faff; */
    padding: 15px;
    /* border: 1px solid black; */
  }

  .desc {
    width: 300px;
    display: flex;
  }

  .det {
    width: 120px;
  }

  .imgCont {
    width: 120px;
    height: 120px;
    background-color: #e3faff;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp {
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 50%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    height: 640px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  .ro {
    font-size: 30px;
    color: #0078b7;
    font-weight: bold;
  }

  .line {
    border: 1px solid black !important;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cont {
    width: 360px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  }

  .upper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
  }

  .back {
    position: absolute;
    margin-right: 320px;
  }

  .backBtn {
    width: 40px;
    height: 40px;
  }

 

  .leftPart {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .rightPart {
    font-size: 16px;
  }

  .descCont {
    height: 300px;
    width: 300px;
    /* background-color: #e3faff; */
    padding: 15px;
    /* border: 1px solid black; */
  }

  .desc {
    width: 300px;
    display: flex;
  }

  .det {
    width: 120px;
  }

  .imgCont {
    width: 120px;
    height: 120px;
    background-color: #e3faff;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp {
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 50%;
  }
}
