@media screen and (min-width: 993px) {
  .content {
    height: 640px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
  }

  .juduljasa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 40px;
    color: #0078b7;
    font-weight: bold;
  }

  .back {
    position: absolute;
    margin-right: 550px;
  }

  .backBtn {
    width: 60px;
    height: 60px;
  }

  .backBtn:hover {
    width: 70px;
    height: 70px;
    opacity: 90%;
  }

  .line {
    border: 1px solid black !important;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dt {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .techCont {
    width: 600px;
    height: 80px;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }

  .pagi {
    width: 600px;
  }

  .techImg {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
  }

  .btnAction {
    color: white !important;
    background-color: #00b4d7 !important;
    border: 1px solid #0078b7;
    font-size: 14px !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .content {
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
  }

  .juduljasa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 32px;
    color: #0078b7;
    font-weight: bold;
  }

  .back {
    position: absolute;
    margin-right: 480px;
  }

  .backBtn {
    width: 50px;
    height: 50px;
  }

  .line {
    border: 1px solid black !important;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .techCont {
    width: 500px;
    height: 80px;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }

  .pagi {
    width: 500px;
  }

  .techImg {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
  }

  .btnAction {
    color: white !important;
    background-color: #00b4d7 !important;
    border: 1px solid #0078b7;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 600px) {
  .content {
    height: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
  }

  .juduljasa {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    font-size: 30px;
    color: #0078b7;
    font-weight: bold;
  }

  .back {
    position: absolute;
    margin-right: 350px;
  }

  .backBtn {
    margin-left: 40px;
    width: 40px;
    height: 40px;
  }


  .line {
    border: 1px solid black !important;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .techCont {
    width: 320px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }

  .pagi
  {
     margin-top: 10px;
     /* margin-bottom: 40px; */
  }

  .techImg {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
  }

  .rightPart {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .btnAction {
    color: white !important;
    background-color: #00b4d7 !important;
    border: 1px solid #0078b7;
    font-size: 12px !important;
  }
}
